<html>
    <head>
        <title>My Django Blog</title>
    </head>
    <body>
        {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <h3>{{ post.pub_date }}</h3>
        {{ post.text }}
        {% endfor %}
    </body>
	
	</br>
	</br>

    {% if page.has_previous %}
    <a href="/blog/titledposts/{{ page.previous_page_number }}/">Previous Page</a>
    {% endif %}
    {% if page.has_next %}
    <a href="/blog/titledposts/{{ page.next_page_number }}/">Next Page</a>
    {% endif %}
</html>